
.nav-header {
    display: flex;
    height:fit-content;
    justify-content: space-between;
    flex-direction: column;
  }

  .header-container{
    background-color: transparent;
  }

  .library-card-container{
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;  
    background: linear-gradient(#1e3061 60%, white 20%);
  }
 